<!DOCTYPE html>
<html>
<head>
	<title>Energy Viz</title>
	<script src="https://www.gstatic.com/firebasejs/5.5.1/firebase.js"></script>
	<script src="/cdn/js/firebase.js"></script>
	<script src="/cdn/js/writeEnergyData.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
	<h1>Wits energy consumption</h1>
	<form action="/data/get-data" method="post">
		<div class="form-group">
			<input type="submit" id = "line_graph" name="line_graph" value="Line Graph">
		</div>
	</form>

	<form action="/data/get-heat" method="post">
		<div class="form-group">
			<input type="submit" id = "heat_map" name="heat_map" value="Heat Map">
		</div>
	</form>

	<form action="/data/get-pie" method="post">
		<div class="form-group">
			<input type="submit" id = "pie_chart" name="pie_chart" value="Pie Chart">
		</div>
	</form>
</body>
</html>